@font-face {
  font-family: 'IBMBios';
  src: local('IBMBios'), url('./fonts/Web437_IBM_BIOS.woff');
  font-weight: normal;
}

body {
  background-color: black;
  color: white;
  font-family: 'IBMBios';
}
